Package: net.limneos.oslog
Name: oslog
Version: 0.0.4.3
Architecture: appletvos-arm64
Description: os_log implementation for iOS
Maintainer: NoisyFlake
Author: Elias Limneos
Section: System
Tag: role::hacker
